build
.trash
.DS_Store
.cproject
.project
.settings
apps/experimental
/Debug/
TODO
*.kicad_pcb-bak
*.sch-bak
*-cache.lib
*.lck
_autosave-*.kicad_pcb
_autosave-*.sch

# ignore gerber file directory
cad/pcb/kicad/gerber

